// functions
@function ensureTextContrast($text-color, $background-color) {
  /* Checking text lightness difference from accent background */
  $diff: lightness($text-color) - lightness($background-color);

  /* If low brightness difference */
  @if abs($diff) < 15% {

    /* Dark background */
    @if lightness($background-color) < lightness(#aaaaaa) {
      @return lighten($text-color, 30);
    } 

    /* Light background */
    @else {
      @return darken($text-color, 30);
    }
  } 

  /* High enough contrast; @return original color */
  @else {
    @return $text-color;
  }
}


/* CSS declarations go here */
.hidden_div{
	display:none;
}
.btn-group button {
	border-radius: 0;
}

/*nav elements*/

.navbar {
	border-radius: 0px;
	margin-bottom: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	/*background-color: none !important;*/
	background-color: #333333;
	color: #979797;
}
.navbar-default {
	/*background-color: none !important;*/
	background-color: #333333;
}
#login-dropdown-list a {
	color: #979797;
}
.navbar-default .navbar-brand {
	color: yellow;
}
/*nav elements*/


/*cta section */
.cta-section {
	min-height: 8em;
	padding-top: 2.5em;
	background-color: #444444;
}
.btn-group {margin: 0 .5em;}
p .btn-group { display: inline-block; }
p .btn-group button { margin: 0 .75em; }
p .btn-group button:last-child  { background-color: yellow; }
p .btn-group button:last-child:hover  { background-color: yellowgreen }
.cta-section div p { color:white ;}
/*cta section */

// Product Form

#website_form {
	margin-bottom: 4em;
}

//  Product Section

section.brand { min-height: 20em;}

$colors-list: #00CA8D #E3FFA7 #E3FFA7 #444444 #4444FF;
$text-color: #979700;

@each $current-color in $colors-list {
    $i: index($colors-list, $current-color);
    section.brand-#{$i} { 
        background-color:: $current-color;
    		.brand-container h2.brand-title {
    			color: ensureTextContrast($text-color, $current-color);
				}
    }
}

.brand-container h2.brand-title {
	font-size: 400%;
}